@{
    ViewData["Title"] = "Manage Billing";
}

<!--
After the customer confirmed his/her order, this UC is initiated by the
administrator to authenticate the purchase, and to verify that the customer
is the actual owner of the credit card he/she is using. Then it emails the
customer and the administrator the customer's credit card billing statement
through the included UC “Send email”. And Finally it delivers the item(s)
through the included UC “Deliver Item”.
-->


<div>

</div>
