@{ViewData["Title"] = "ProductList";
}

<div class="productListContainer">
    <img class="categoryImage" src="~/images/shirt-man-category.png" alt="shirt-man-category" />
    <h6 style="position: absolute; left: 10vw; z-index: 1; background-color: rgba(255,255,255,0.5); color: black">T-Shirt</h6>
    <img class="categoryImage" src="~/images/active-man-category.png" alt="shirt-man-category" />
    <h6 style="position: absolute; left: 30vw; z-index: 1; background-color: rgba(255,255,255,0.5); color: black">Active Wear</h6>
    <img class="categoryImage" src="~/images/jeans-man-category.png" alt="shirt-man-category" />
    <h6 style="position: absolute; left: 55vw; z-index: 1; background-color: rgba(255,255,255,0.5); color: black">Jeans</h6>
    <img class="categoryImage" src="~/images/swim-man-category.png" alt="shirt-man-category" />
    <h6 style="position: absolute; left: 80vw; z-index: 1; background-color: rgba(255,255,255,0.5); color: black">Swim Wear</h6>

</div>