@{
    ViewData["Title"] = "Home";
}

<a class="btn btn-primary" role="button" asp-controller="CustomerLogin" asp-action="CustomerLoginForm">
    login
</a>
<a class="btn btn-primary" role="button" asp-controller="CustomerRegistration" asp-action="CustomerRegisterForm">
    register
</a>
<a class="btn btn-primary" role="button" asp-controller="ProductListWindow" asp-action="ProductListWindow">
    productlistwindow
</a>