@{
    ViewData["Title"] = "Home";
}

<style>
    .homepageImageSelection {
        position: relative;
        margin: 0;
        display: flex;
        width: 100vw;
        gap: 0;
    }

    img {
        width: 33.33333vw;
        height: 80vh;
        object-fit: cover;
    }

    .menFloatingText {
        position: absolute;
        left: 15vw;
        color: black;
        background-color: rgba(255,255,255,0.5);
    }

    .womenFloatingText {
        position: absolute;
        left: 45vw;
        color: black;
        background-color: rgba(255,255,255,0.5);
    }

    .kidsFloatingText {
        position: absolute;
        left: 83vw;
        color: black;
        background-color: rgba(255,255,255,0.5);
    }

    .productListContainer {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .pants {
        width: 100px;
        height: 100px;
        background-color: red;
    }

    .categoryImage {
        width: 20vw;
        height: 30vh;
        object-fit: cover;
    }
</style>
<div class="homepageImageSelection">
    <a role="button" asp-controller="ProductListWindow" asp-action="ProductListWindow">
        <img src="~/images/home-man.png" alt="shirt-man" />
    </a>
    <h2 class="menFloatingText">Men</h2>
    <a role="button" asp-controller="ProductListWindow" asp-action="ProductListWindow">
        <img src="~/images/home-woman.png" alt="shirt-woman" />
    </a>
    <h2 class="womenFloatingText">Women</h2>
    <a role="button" asp-controller="ProductListWindow" asp-action="ProductListWindow">
        <img src="~/images/home-kid.png" alt="shirt-kid" />
    </a>
    <h2 class="kidsFloatingText">Kids</h2>
</div>
